@{
    ViewData["Title"] = "GawaPH";
}
    <!-- Masthead-->
    <section id="hero" class="hero section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row align-items-center my-5">
                <div class="col-lg-6">
                    <div class="hero-content" data-aos="fade-up" data-aos-delay="200">

                        <h1 class="mb-4">
                            GawaPH
                        </h1>

                        <p class="mb-4 mb-md-5">
                            GawaPH connects Filipino freelancers and clients in a powerful local marketplace—where every project starts with a purpose and ends with progress.
                        </p>

                        <div class="hero-buttons">
                        <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-primary me-0 me-sm-2 mx-1">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hero-image" data-aos="zoom-out" data-aos-delay="300">
                        <img src="~/images/illustration-1.webp" alt="Hero Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Icons Grid-->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                        <h3>GawaPH. Gawa Na!</h3>
                        <p class="lead mb-0">Hire fast, work smart — your next freelancer is just a click away.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                        <h3>Post. Pick. Pay.</h3>
                        <p class="lead mb-0">No hassle. Just post your gig, pick a freelancer, and get the job done.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                        <h3>Power to the Pinoy Freelancer</h3>
                        <p class="lead mb-0">Turn your skills into income — join a marketplace built for local talent.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


